<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout2"
      layout:decorate="~{layout/layout2}">
<head>
  <title>管理者ホーム</title>
  <!-- 個別CSS読込 -->
  <link rel="stylesheet" th:href="@{/css/admin/home.css}">
</head>
<body>
<div layout:fragment="content" class="bg-light">
  <div class="text-center">
    <form method="post" th:action="@{/admin/home}" class="form-home">
      <br>
      <div class="my-4" style="padding: 30px; margin: auto; width: 350px; font-weight: bolder;
		  background-color: #fff;">
        <P>アカウントの新規申請数 : 2件</P>
        <P>勤務変更の申請数 : 2件</P>
      </div>
      <input type="submit" value="      新規申請一覧      " class="btn btn-primary"/>
      <input type="submit" value="      勤務変更申請一覧      " class="btn btn-primary"/>
    </form>
  </div>
</div>
</body>
</html>