<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
</head>	
<body>
	<nav layout:fragment="header"
			class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-primary">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">@end</a>
			</div>
			<button class="navbar-toggler collapsed" type="button" 
					data-toggle="collapse" data-target="#navbarSupportedContent" 
						aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
			</button>
		</div>
	</nav>
</body>
</html>
