<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
	<title>ユーザー一覧</title>
	<!-- 個別CSS読込 -->
	<link rel="stylesheet" th:href="@{/css/user/list.css}">
	<!-- 個別JS読込 -->
	<link rel="stylesheet" th:href="@{/webjars/datatables/css/jquery.dataTables.min.css}">
	<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}" defer></script>
	<script th:src="@{/js/user/list.js}" defer></script>
</head>	
<body>
	<div layout:fragment="content" class="bg-light">
		<div class="text-center">
			<h2>2021年12月18日(土)</h2>
			<div class="form-group">
			
			</div>
		</div>
	</div>
				
</body>
</html>