<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- CSS読み込み -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/user/signup.css}">
	<!-- JS読込 -->
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<title>新規登録</title>
</head>
<body class="bg-light">
	<form id="signup-form" method="post" action="/user/signup"
			class="form-signup">
		<h1 class="text-center">新規登録</h1>
		<!-- 名前 -->
		<div class="form-group">
			<label for="name">名前</label>
			<input type="text" class="form-control"/>
			<div class="invalidfeedback" th:errors="*{userId}"></div>
		</div>
		<!-- メールアドレス -->
		<div class="form-group">
			<label for="email">メールアドレス</label>
			<input type="text" class="form-control"/>
		</div>
		<!-- パスワード -->
		<div class="form-group">
			<label for="password">パスワード</label>
			<input type="text" class="form-control"/>
		</div>
		<!-- パスワード確認 -->
		<div class="form-group">
			<label for="confirmPassword">パスワード確認</label>
			<input type="text" class="form-control"/>
		</div>
		<!-- 申請ボタン -->
		<input type="button" value="申請する"
			class="btn btn-primary w-100 mt-3"/>
	</form>
	<a th:href="@{/login}">ログイン画面に戻る</a>
</body>
</html>